<footer class="container-fluid pt-5 pb-5">
  <div class="container">
    <div class="row footer-info mb-4">
      <img class="col-12" src="/assets/logo.png" alt="tradenaira logo coloured" />
      <p class="col-12 mt-4">Copyright © 2021 TradeNaira. All rights reserved. Use of this site constitutes acceptance of our Terms of Service, Privacy Policy and Cookies Policy.</p>
    </div>
    <div class="row social-links-row">
      <ul class="col">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=107274bc-dacb-4bdf-9426-d877e0b16161"> </script>