/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$blue-color: #0192d3;
$sky-color: #0abfe8;
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}
::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
}
iframe#launcher, iframe#webWidget {
    bottom: 50px !important;
}
iframe#webWidget {
    max-height: calc(100vh - 50px) !important;
}
.liveprices-header {
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 0;
}
.liveprices-content {
    text-align: center;
}
.jump-liveprices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 5px auto;
    font-size: 14px;
    li {
        display: flex;
        flex-grow: 0;
        a {
            text-decoration: none;
            color: #000000;
            cursor: pointer;
            display: flex;
            flex: 1;
            padding: 5px 15px;
            border-left: 1px solid $blue-color;
            margin: 10px 0;
            position: relative;
            .rate-popup {
                position: absolute;
                display: none;
                bottom: -10px;
                left: 50%;
                transform: translate(-50%, 100%);
                text-align: center;
                color: white;
                line-height: 1.5;
                background: $blue-color;
                padding: 2px 10px;
                border-radius: 4px;
                width: 200px;
                z-index: 1;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%) translateY(calc(-100% + 1px));
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent $blue-color;
                }
            }
        }
        &:hover {
            a {
                background-color: #f2fcff;
                .rate-popup {
                    display: block;
                }
            }
        }
        .pair {
            display: flex;
            margin-right: 5px;
            flex-direction: column;
        }
        .last-price {
            display: inline-block;
        }
        .percent-change {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .change {
              display: flex;
            }
        }
        &:last-of-type {
            a {
                border-right: 1px solid $blue-color;
            }
        }
    }
}
.text-up {
    color: #4dd710;
}
.text-down {
    color: #d00017;
}
.popup-wrapper {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .popup-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        color: #000000;
        padding: 20px;
        overflow: auto;
        width: 550px;
        height: auto;
        max-width: 90%;
        max-height: 90%;
        i {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        .popup-content {
            width: 100%;
            height: 100%;
            overflow: auto;
            h3 {
                margin-bottom: 25px;
            }
            p {
                line-height: 1.5;
            }
            a {
                font-weight: bold;
                font-style: italic;
                text-decoration: underline !important;
                color: $blue-color;
            }
        }
    }
}
.uppercase_content {
  text-transform: uppercase !important;
}
footer {
    background-color: #f7f7f7;
    border-top: 1px solid #d1d1d1;
    .footer-info {
        justify-content: center;
        text-align: center;
        img {
            width: 250px;
        }
    }
    .social-links-row {
        ul {
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 5px 15px;
                a {
                    text-decoration: none;
                    i {
                        background-color: #ffffff;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
                        transition: transform .5s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
                        &.fa-twitter {
                            color: #1da1f2;
                            &:hover {
                                background-color: #1da1f2;
                            }
                        }
                        &.fa-instagram {
                            color: #e91e63;
                            &:hover {
                                background-color: #e91e63;
                            }
                        }
                        &.fa-facebook {
                            color: #3b5998;
                            &:hover {
                                background-color: #3b5998;
                            }
                        }
                        &.fa-linkedin {
                            color: #0e76a8;
                            &:hover {
                                background-color: #0e76a8;
                            }
                        }
                        &.fa-youtube-play {
                            color: #ff0000;
                            &:hover {
                                background-color: #ff0000;
                            }
                        }
                        &:hover {
                            color: #ffffff;
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}
.custom-close-btn {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: inline-block;
    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 1px;
        background-color: #000000;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover {
        color: $blue-color;
        &::before, &::after {
            background-color: $blue-color;
        }
    }
}
.tradenaira-blogo-header {
    background: $blue-color;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-image {
            width: 150px;
            height: auto;
        }
        i {
            font-size: 24px;
            color: #ffffff;
            cursor: pointer;
            user-select: none;
            &.search-btn {
                &:hover {
                    text-shadow: 0 0 5px rgba(255, 255, 255, 1.0);
                }
            }
        }
    }
}
.sidebar-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 450px;
    max-width: 100%;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    padding: 40px;
    transition: transform .3s ease-in-out;
    display: flex;
    flex-direction: column;
    &.active {
        transform: translateX(0);
    }
    .nav-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        align-items: center;
        font-size: 24px;
        i {
            cursor: pointer;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        max-height: 100%;
        overflow: auto;
        list-style-type: none;
        li {
            padding: 10px 0;
            margin-bottom: 10px;
            a {
                font-size: 16px;
                display: inline-block;
                color: #000000;
                text-decoration: none;
                position: relative;
                &:hover {
                    color: #444444;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $blue-color;
                    }
                }
            }
        }
    }
}
.search-posts {
    padding: 25px;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: translateY(100%);
    transition: transform .3s ease-in-out;
    &.active {
        transform: translateY(0);
    }
    .search-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        .search-area {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            #postSearch {
                border: 0;
                outline: 0;
                background-color: #f8f8f8;
                padding: 10px;
                border-radius: 4px;
                width: 100%;
                margin-top: 15px;
            }
        }
        .search-results {
            overflow: auto;
            background-color: #ffffff;
            &:empty {
                display: none;
            }
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: #000000;
                    border-bottom: 1px solid #9d9d9d;
                    display: block;
                    &:last-of-type {
                        border-bottom: none;
                    }
                    &:hover {
                        background-color: #e1e1e1;
                    }
                    li {
                        padding: 10px;
                        display: flex;
                        .image {
                            width: 150px;
                            min-width: 150px;
                            height: 100px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                        .content {
                            margin-left: 10px;
                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.banner {
    position: relative;
    width: 100%;
    min-height: 600px;
    height: calc(100vh - 53px);
    overflow: hidden;
    .photos {
        position: relative;
        width: 100%;
        height: 100%;
        .photo {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center 30%;
            opacity: 0;
            transition: opacity 2s;
            &.active {
                opacity: 1;
            }
            &:after {
                content: '';
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
            }
        }
    }
    .grid {
        display: table;
        table-layout: fixed;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 25px 25px;
        box-sizing: border-box;
        .col {
            display: table-cell;
            width: 33.3333%;
            vertical-align: bottom;
        }
    }
    .info {
        display: inline-block;
        position: relative;
        margin: 25px;
        opacity: .25;
        transition: opacity 1s;
        cursor: pointer;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
        .loader {
            position: relative;
            width: 100%;
            height: 4px;
            margin: 0 0 30px;
            background: rgba(255,255,255,.3);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
            overflow: hidden;
            transition: background .5s;
            .bar {
                position: absolute;
                left: -100%;
                width: 100%;
                height: 100%;
                background: #fff;
            }
        }
        .text {
            margin: 0 0 30px;
            color: #ffffff;
            h2 {
                margin: 0 0 15px;
                font-size: 30px;
                font-weight: 400;
            }
            p {
                margin: 0;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.2;
            }
        }
        .more {
            display: block;
            height: 0;
            overflow: hidden;
            font-weight: 700;
            transition: height .5s, margin .5s, color .5s;
            text-decoration: none;
            color: #ffffff;
            &:after {
                content: '►';
                display: inline-block;
                margin-left: 9px;
                font-size: 10px;
                transition: margin .5s;
            }
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 4px;
            margin: 30px 0 0;
            background: rgba(255,255,255,.3);
            transition: background .5s;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
        }
        &.active {
            opacity: 1;
            transition: opacity .5s;
            .loader .bar {
                background: $blue-color;
            }
            .more {
                height: 52px;
                margin-top: -15px;
            }
            &:hover {
                .loader {
                    background: $blue-color;
                }
                .more {
                    &:after {
                        margin-left: 12px;
                    }
                }
                &:after {
                    background: #fff;
                }
            }
        }
    }
}
@keyframes post-load {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1.0);
    }
}
.all-blogs {
    .blogo-heading {
        font-size: 32px;
        padding: 0 10px;
        margin-bottom: 25px;
    }
    .post-loader {
        display: flex;
        justify-content: center;
        &.hide {
            display: none;
        }
        span {
            width: 15px;
            height: 15px;
            background-color: $blue-color;
            margin: 0 5px;
            animation: post-load 1s ease infinite;
            &:nth-child(2) {
                animation-delay: .3s;
            }
            &:nth-child(3) {
                animation-delay: .6s;
            }
        }
    }
    .blog-card {
        margin: 10px 0;
        .col {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 0 10px;
            overflow: hidden;
            border-radius: 4px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            .image{
                position: relative;
                height: 200px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .3s ease-in-out;
                }
                time {
                    position: absolute;
                    top: 20px;
                    left: 0;
                    border-radius: 0 20px 20px 0;
                    background-color: rgba(49, 147, 211, 0.5);
                    padding: 10px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 14px;
                    backdrop-filter: blur(10px);
                }
            }
            .content {
                flex: 1;
                padding: 10px 20px;
                position: relative;
                .quick-view {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: translateY(100%);
                    width: 100%;
                    background-color: $blue-color;
                    cursor: pointer;
                    transition: transform .3s ease-in-out;
                    padding: 10px;
                    text-align: center;
                    color: #ffffff;
                    font-size: 14px;
                }
                .tags {
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -5px;
                    padding: 0;
                    li {
                        margin: 0 5px;
                        a {
                            color: $blue-color;
                            font-size: 18px;
                            text-decoration: none;
                        }
                    }
                }
                h4 {
                    margin-top: 10px;
                    a {
                        color: #000000;
                        text-decoration: none;
                    }
                }
            }
            &:hover {
                .image {
                    img {
                        transform: scale(1.2);
                    }
                }
                .content {
                    .quick-view {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
.quick-view-popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    z-index: 1;
    .quick-view-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: auto;
        max-width: 90%;
        max-height: 90%;
        overflow: auto;
        background-color: #ffffff;
        padding: 25px;
        .close-quick-view {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            user-select: none;
        }
    }
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
span.marker {
    background-color: #ffff00;
}
@media only screen and (max-width: 1199px) {
    .all-blogs .blog-card {
        width: 33%;
    }
    .banner .info .text h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 991px) {
    .all-blogs .blog-card {
        width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .banner .info .text {
        h1 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
    }
    .banner .grid {
        display: flex;
        flex-direction: column;
        .col {
            width: 100%;
        }
    }
    .banner .info:not(.active) {
        display: none;
    }
}
@media only screen and (max-width: 575px) {
    .all-blogs .blog-card {
        width: 100%;
    }
}